version = 1
test_patterns = ["tests/**/*.py"]
  
[[analyzers]]
name = "test-coverage"
enabled = true

[[analyzers]]
name = "python"
enabled = true

  [analyzers.meta]
  runtime_version = "3.x.x"
  max_line_length = 100

[[transformers]]
name = "autopep8"
enabled = false
