[tool.poetry]
name = "streams.py"
version = "0"
authors = ["Stefan Garlonta <stefan@pickwicksoft.org>"]
description = "A stream library for Python inspired by Java Stream API"
keywords = ["streams", "parallel", "data"]
license = "GPL-3.0-or-later"
homepage = "https://github.com/PickwickSoft/pystreamapi"
readme = "README.md"
packages = [
    { include = "pystreamapi" },
]

[tool.poetry.dependencies]
python = ">=3.7,<4.0"
joblib = "~1.2.0"
optional-py = "^1.3.2"

[tool.poetry.group.test.dependencies]
parameterized = "*"
pylint = "*"

[tool.poetry.group.lint.dependencies]
pylint = "*"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
